pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
ipykernel
notebook
dill
flask
imblearn
six
plotly
pycaret
catboost
xgboost
kneed
streamlit
jupyter
optuna
pyYAML
tqdm
ensure
joblib
types-pyYAML
Flask
Flask-Cors
python-box
mlflow

-e .